@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

body {
  margin: 0;
  font-family: "Electrolize", sans-serif;
  @apply bg-gray-50;
}

.ant-btn-primary {
  background-color: #1677ff;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
  .categories::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .category-item {
    @apply flex justify-center items-center bg-green-700 px-6 py-10 text-white cursor-pointer hover:bg-pink-700 transition-all text-center min-w-[145px];
  }
}
